{{ $giscus := site.Params.giscus }}
{{ if and $giscus (ne false $giscus.enable) $giscus.repo $giscus.repo_id $giscus.category_id }}
  <div class="giscus mt-20" id="giscus-comments"></div>
  <script src="https://giscus.app/client.js"
    data-repo="{{ $giscus.repo }}"
    data-repo-id="{{ $giscus.repo_id }}"
    data-category="{{ $giscus.category | default "Announcements" }}"
    data-category-id="{{ $giscus.category_id }}"
    data-mapping="{{ $giscus.mapping | default "pathname" }}"
    data-strict="{{ $giscus.strict | default "0" }}"
    data-reactions-enabled="{{ $giscus.reactions_enabled | default "1" }}"
    data-emit-metadata="{{ $giscus.emit_metadata | default "0" }}"
    data-input-position="{{ $giscus.input_position | default "bottom" }}"
    data-theme="{{ $giscus.theme | default "preferred_color_scheme" }}"
    data-lang="{{ $giscus.lang | default "en" }}"
    crossorigin="anonymous"
    async>
  </script>
{{ end }}
